body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-family: 'Open Sans', sans-serif !important;
}

.calculator-area {
    display: grid;
    grid-template-areas: "screen screen screen screen" "clear backspace divide multiply" "seven eight nine minus" "four five six plus" "one two three equals" "zero zero point equals";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: min(525px, 80vh);
    width: 300px;
    margin: 30px 50px 0px 50px;
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(43, 43, 43), rgb(59, 59, 59));
    box-shadow: 0px 10px 20px black;
}

.calculator-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: screen;
    border-radius: 10px;
    background-color: rgb(113, 165, 106);
    height: 15vh;
}

.last-calculation {
    margin: 5px 20px 0px 20px;
    font-size: 20px;
}

.current-calculation {
    margin: 5px 20px 0px 20px;
    font-size: 30px;
    height: auto;
    animation: insertion-point 1s cubic-bezier(0,0,0,1) infinite;
}

@keyframes insertion-point {
    from {
        border-right: 0.5px solid black;
    }
    to {
        border-right: 0.5px solid transparent;
    }
}

button {
    border: none;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(128, 126, 126);
    color: white;
    font-family: 'Open Sans', sans-serif !important;
}

button:hover {
    background-color: rgb(92, 92, 92);
}

button:active {
    transform: scale(0.9);
}

.backspace:hover, .clear:hover, .divide:hover, .multiply:hover {
    background-color: rgb(0, 0, 0);
}

.backspace {
    grid-area: backspace;
    background-color: rgb(32, 32, 32);
}

.clear {
    grid-area: clear;
    background-color: rgb(32, 32, 32);
}

.minus {
    background-color: rgb(211, 137, 0);
}

.plus {
    background-color: rgb(211, 137, 0);
}

.divide {
    grid-area: divide;
    background-color: rgb(211, 137, 0);
}

.multiply {
    grid-area: multiply;
    background-color: rgb(211, 137, 0);
}

.zero {
    grid-area: zero;
}

.equals {
    grid-area: equals;
    background-color: rgb(211, 137, 0);
}

.equals:hover, .plus:hover, .minus:hover, .multiply:hover, .divide:hover {
    background-color: rgb(177, 115, 0);
}